*{
    box-sizing: border-box;
}
.another{
    
    margin: 5px;
}
.icon-text{
    margin: 7px;
}
.f-image{
    margin-bottom: 50px;
}
.social-icon{
    margin-top: 30px;
}
.policy{
    margin-top: 75px;
}
li{
    font-size: small;
}

.app{
    font-weight: bold;
    font-family: sans-serif;
}
.item{
    margin: 10px;
}
.inline{
    
    align-items: center;
    
}
.move{
    margin: 3px;
}
.p-text{
    text-align: center;
    font-size: small;
}
.div-text{
    font-size: 95%;
    word-spacing: 3px;
    line-height: 1.7; 
    align-items: center;
}
.test-last{
    text-align: center !important;
}
.copyright{
   
    padding-top: 12px;
    padding-bottom: 3px;
    background-color: #f1f2f4;
    font-size: 90%;
    align-items: center;
    margin-top: 0px;
}
.addition{
    align-items: center;
}
.icon-text{
    align-items: center
}
.size{
    font-size: small;
    margin-left: 5px;
}
.xtra{
    font-size: 11px;
    margin-left: 5px;
}
.aside{
    margin-right: 5px;
}
.aside-1{
    margin-right: 2px;
    margin-left: -7px;
}
.new{
    align-items: center;
}


html body ul {
    margin: 0px 0px 0px 15px;
    padding: 0;
}
.same{
    margin-top: 15px;
}
