.another{
    
    margin: 5px;
}
.icon-text{
    margin: 7px;
}
.f-image{
    margin-bottom: 50px;
}
.social-icon{
    margin-top: 30px;
}
.policy{
    margin-top: 70px;
}
li{
    font-size: small;
}